/vendor
.env
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/config/*
composer.json
composer.lock
_ide_helper.php
public/download/*
public/archive/*
/nbproject/private/
.idea/

# ====== OS X ===========================================
.DS_Store
.AppleDouble
.LSOverride
