/vendor
.env
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/config/*
composer.json
composer.lock
_ide_helper.php
public/download/*
public/archive/*
public/img/questions/title/*
/nbproject/private/
.idea/
*.ppt
*.doc
public/img/library/persons/*
# ====== OS X ===========================================
.DS_Store
.AppleDouble
.LSOverride
