a:hover{
    text-decoration: none;
    cursor: pointer;
}

.table-archive td, th {
    width: 10%;
}

.style-accent:hover{
    opacity: 0.7;
}

.file-panel:hover{
    cursor: default;
}

.delete-form, .download-form{
    display: inline;
}