.test-list a:link, .test-list a:visited {
    display: block;
    font-size: 14px;
    color: #0aa89e;
    padding: 4px;
    text-decoration: none;
}

.test-list a:hover {
    display: block;
    font-size: 14px;
    color: #05585b;
    padding: 4px;
    text-decoration: none;
}

.none-tests {
    color:#0aa89e;
}

.test-list:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



