.fixed-nav {
    position: fixed;
    background-color: #F8F8F8;
    /*border-bottom:3px solid #;*/
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    /*border: 5px solid #1b1b1b; border-radius: 20px; box-sizing: border-box;*/
    width: 100%;
    z-index: 1000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: inline-block;
    text-align: justify;
}
.NotAnswered a:link, a:visited {
    display: block;
    width: 80px;
    /*font-weight: bold;*/
    font-size: 14px;
    color: #226666;
    background-color: #F8F8F8;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.NotAnswered a:hover, a:active {
    background-color: darkgrey;
}
.Answered a:link, a:visited {
    display: block;
    width: 80px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    background-color: #0aa89e;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.Answered a:hover, a:active {
    background-color: #05585b;
}
.Return a:link, a:visited {
    display: block;
    width: 80px;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    background-color: rgb(239, 151, 23);
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.Return a:hover, a:active {
    background-color: #b0af2a;
}
.smart-blue {
    margin-left:auto;
    margin-right:auto;

    max-width: 80%;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-blue h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0px 5px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #0aa89e;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
}
.smart-blue h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-blue label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-blue label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-blue input[type="text"], .smart-blue input[type="email"], .smart-blue textarea, .smart-blue select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-blue textarea{
    height:100px;
    padding-top: 10px;
}
.smart-blue select {
    width:22%;
    font-size: 12px;
}
.smart-blue .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-blue .button:hover {
    background-color:#80A24A;
}
.button-submit {
    background:#f78096;
    background: -moz-linear-gradient(top,#f78096 0%,#f56778 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f78096),color-stop(100%,#f56778));
    background: -webkit-linear-gradient(top,#f78096 0%,#f56778 100%);
    background: -o-linear-gradient(top,#f78096 0%,#f56778 100%);
    background: -ms-linear-gradient(top,#f78096 0%,#f56778 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f78096',endColorstr='#f78096',GradientType=0);
    padding:5px 4px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:25px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ae4553;
    margin-left:40%;
}
.button-submit:hover{
    background: #d16b81;
}
.timer{
    color: #ffffff;
    padding:4px 10px;
    font-size: 200%;
    font-weight: bold;
    position: fixed;
    right:20px;
    background-color: #0aa89e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 5px 15px
    15:27:59
rgba(0,0,0,0.5);
}

a {
    font-size: 17px;
    text-decoration: none;
}

.wrapped {
    background-color:orange;
    margin-top: 200px;
    border-bottom: 20px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 1000px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #e5e6e6;
}

.close {
    position: absolute;
    right: -18px;
    text-align: center;
    top: -4px;
    width: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#preview-btn:link {
    text-decoration:none;
    background-color: #0C84E4;
}

#preview-btn:visited {
    text-decoration:none;
    background-color: #0C84E4;
}

#close-btn {
    width: 3%;
    height: 4%;
}
#close-btn:link {
    background-color: #f44336;
}

#close-btn:visited {
    background-color: #f44336;
}

#result-table {
    width: auto;
}

/*#check {
    display:inline-block;
}*/