.fixed-nav {
    position: fixed;
    background-color: lightgrey;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: inline-block;
    text-align: justify;
}
.NotAnswered a:link, a:visited {
    display: block;
    width: 80px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: lightgrey;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.NotAnswered a:hover, a:active {
    background-color: darkgrey;
}
.Answered a:link, a:visited {
    display: block;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.Answered a:hover, a:active {
    background-color: #7A991A;
}
.Return a:link, a:visited {
    display: block;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #e2e129;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.Return a:hover, a:active {
    background-color: #b0af2a;
}
.smart-blue {
    margin-left:auto;
    margin-right:auto;

    max-width: 1000px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-blue h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0px 5px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #269abc;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #337ab7;

}
.smart-blue h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-blue label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-blue label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-blue input[type="text"], .smart-blue input[type="email"], .smart-blue textarea, .smart-blue select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-blue textarea{
    height:100px;
    padding-top: 10px;
}
.smart-blue select {
    width:20%;
}
.smart-blue .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-blue .button:hover {
    background-color:#80A24A;
}
.button-submit {
    background:#f78096;
    background: -moz-linear-gradient(top,#f78096 0%,#f56778 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f78096),color-stop(100%,#f56778));
    background: -webkit-linear-gradient(top,#f78096 0%,#f56778 100%);
    background: -o-linear-gradient(top,#f78096 0%,#f56778 100%);
    background: -ms-linear-gradient(top,#f78096 0%,#f56778 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f78096',endColorstr='#f78096',GradientType=0);
    padding:5px 4px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:25px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ae4553
}
.button-submit:hover{
    background: #d16b81;
}
.timer{
    color: #ffffff;
    padding:4px 10px;
    font-size: 200%;
    font-weight: bold;
    position: fixed;
    right:20px;
    background-color: #269abc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 5px;
}
.css-checkbox{
    font-size: 15px;
    border-radius:4px;
    position: relative;
    right:-880px;
    width:19px;
    height:19px;
}